* {
  font-family: comic sans ms;
}
.jumbotron {
  padding-top: 6rem;
  background-image: url(img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#link {
  text-decoration: none;
  color: #fff;
}

section {
  padding-top: 5rem;
}
